body{
  background-color: rosybrown;
  font-family: Arial, sans-serif;
}
.business-card{
  background-color: white;
  width: 300px;
  padding: 20px;
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
}
.profile-image{
  max-width: 100%;
}
p{
  margin-top: 5px;
  margin-bottom: 5px;
  
}
a{
  text-decoration:  none;
}

a:visited {
  color: black;
}

a:hover {
  color:darkseagreen
}

a:active {
  color: brown;
}
.image{
 max-width: 11%;
}